
@{
    ViewBag.Title = "Kullanıcı Ekleme Ekranı";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@using NTier.Model.Model.Entities
@model AppUser
@*<form enctype="multipart/form-data" method="post" action="~/Admin/Appuser/add"></form>*@
@using (Html.BeginForm("Add", "AppUser", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(user => user.Name)
        @Html.TextBoxFor(user => user.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(user => user.LastName)
        @Html.TextBoxFor(user => user.LastName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(user => user.PhoneNumber)
        @Html.TextBoxFor(user => user.PhoneNumber, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(user => user.Email)
        @Html.TextBoxFor(user => user.Email, new { @class = "form-control", @type = "email" })
    </div>
    <div class="form-group">
        @Html.LabelFor(user => user.UserName)
        @Html.TextBoxFor(user => user.UserName, new { @class = "form-control", required = "required" })
    </div>
    <div class="form-group">
        @Html.LabelFor(user => user.Password)
        @Html.TextBoxFor(user => user.Password, new { @class = "form-control", required = "required" })
    </div>
    <div class="form-group">
        @Html.LabelFor(user => user.Role)
        <select name="Role" class="form-control">
            @foreach (var item in Enum.GetNames(typeof(Role)))
            {
                <option value="@item">@item</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="Image">Fotoğraf Seçiniz</label>
        <input type="file" name="Image" class="form-control" />
    </div>
    <input type="submit" value="Ekle" class="form-control btn btn-primary" />
}